asgiref==3.9.1
cmudict==1.1.1
Django==5.2.4
djangorestframework==3.16.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
joblib==1.5.1
numpy==2.3.2
pandas==2.3.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.1
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
textstat==0.7.8
threadpoolctl==3.6.0
tzdata==2025.2
zipp==3.23.0
